---
layout: default
---

{% if page.gallery %}
<div id="sliderFrame">
    <div id="slider">
        {% for image in page.gallery %}
        <img src="{{ image.url | prepend: site.baseurl | prepend: '/media/'}}" {% if image.alt %}alt="{{image.alt}}"{% endif %}/>
        {% endfor %}
    </div>
</div>
{% endif %}


<div class="page-content">
    <div class="wrapper">

        <div class="post">

            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
            </header>

            <article class="post-content">
                {{ content }}
            </article>

        </div>

    </div>
</div>
